.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  background-color: #040f3f;
  height: 100%;
}

.chessboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0px;
  color: #a11a1a;
  height: 100vh;
  box-shadow: 0 0 18px 0 #08fdd8;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
